
// Colors

$color-background: rgb(247,248,251);
$color-primary: rgb(51, 58, 65);
$color-secondary: rgb(188, 158, 158);
$color-highlight: rgb(109,215,215);
$color-secondary-highlight: rgb(35,129,174);
$color-table-border: rgb(220,224,233);

// Text Colors

$color-primary-text: $color-primary;
$color-primary-text-highlight: $color-highlight;

$color-secondary-text: $color-background;

// Dimensions

$header-height: 10vh;
